@font-face {
  font-family: 'intro'; 
  src: url('../mainFonts/intro.woff2') format('woff2'), 
       url('../mainFonts/intro.woff') format('woff');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quer'; 
  src: url('./fonts/Chequeregular.woff2') format('woff2'), 
       url('./fonts/Chequeregular.woff') format('woff');   
  font-weight: normal;
  font-style: normal;
}

/* Основной контейнер */
.container {
  display: flex; 
  height: 100vh;  
  width: 100vw;   
  background-color: #2e2e35;
}

.left {
  width: 15%; 
  height: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  background-color: #2e2e35; 
  padding: 20px 0; 
}

.left .center {
  width: 20%; 
  height: 20%;
  position: absolute;
  right: 82.5%; 
  top: 30%;  
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.left .top {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 20%; 
  margin-top: 15%;
}

.right {
  width: 85%;
  padding: 20px;
  background: #e8dcd0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.Main {
  width: 85%;
  padding: 20px;
  background: #e8dcd0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.Main .top {
  height: 50%; 
  position: relative; 
} 

.titleBox {
  width: 20%; 
  height: 20%;
  position: absolute;
  left: 14%; 
  top: 12%; 
  transform: translateY(-50%); 
  background-color: #e8dcd0;
  border-radius: 10px;
  padding-top: 2%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.titleBox .title {
  font-family: 'quer', sans-serif;
  font-size: 70px; 
  color: #181d22;
}

.eventMenu {
  width: 50%; 
  height: 90%;
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: #494949;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-top: 2%;
  display: flex;
  flex-direction: column; 
}

.Main .bot {
  height: 50%; 
  position: relative; 
}

.DiagramCard {
  width: 30%; 
  height: 90%;
  position: absolute;
  left: 8%; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: #494949;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-top: 2%;
  display: flex;
  flex-direction: column; 
}

.DiagramCard .bottom {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  height: 40%; 
  background-color: #494949; 
  padding: 0; 
  display: flex; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
}

.bottom .left, 
.bottom .right {
  font-family: 'intro', sans-serif;
  width: 50%; 
  height: 100%; 
  background-color: #494949; 
  display: flex; 
  flex-direction: column; /* Для вертикального розташування */
  justify-content: flex-start; /* Вирівнювання до верху */
  align-items: center; 
  padding-top: 5%; /* Відступ зверху */
  gap: 25%; /* Відступ між об'єктами */
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
}

.bottom label {
  display: block;
  font-size: 1.2rem;
  color: #5cb57b;
}

.memberInfo {
  width: 60%; 
  height: 90%;
  position: absolute;
  left: 40%; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: #494949;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-top: 2%;
  display: flex;
  flex-direction: column; 
}

.memberInfo .top {
  position: absolute; 
  top: 0; 
  margin-top: 2.5%;
  margin-left: 2.5%;
  width: 95%; 
  height: 75%; 
  background-color: #ffffff; 
  padding: 5%; 
  display: flex; 
  border-radius: 10px;
  gap: 0.5%;  /* Уменьшаем расстояние между карточками */
  flex-wrap: wrap; /* Разрешаем перенос карточек на новую строку */
}

.top .card {
  width: 32.5%; /* Для 3 карточек в ряду, с учетом отступов */
  height: 45%; /* Фиксированная высота карточки */
  background-color: #444444;
  top: 0;
  flex-direction: column; /* Столбцы */
  display: flex;
  border-radius: 10px;
  margin-bottom: 0.2%; /* Уменьшаем отступ между рядами карточек */
  padding: 5px; /* Внутренние отступы */
  color: #ffffff; /* Цвет текста */
}

.card-top {
  padding-top: 6%;
  padding-left: 8%;
  flex: 1; /* Верхняя часть займет 50% */
  background-color: #444444; /* Дополнительный цвет */
  font-size: 20px;
  border-radius: 10px;
  color: #00ff62;
  
}

.card-bottom {
  
  padding-left: 10%;
  border-radius: 10px;
  flex: 1; /* Нижняя часть займет 50% */
  background-color: #444444; /* Дополнительный цвет */
  font-size: 25px;
  color: #09df74;
  padding-bottom: 9%;
}








.Info {
  width: 85%;
  padding: 20px;
  background: #e8dcd0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}





/* Левая часть */

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('./image/User.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 10px #181d22; 
}

/* Кнопки */
.buttonLeft {
  font-family: 'intro', sans-serif;
  font-size: 16px; 
  padding: 20px 40px;
  color: #252d35;   
  background: #48489b;
  border: 2px solid #48489b;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  user-select: none;
  text-decoration: none; 
  margin: 20px 0; 
  display: inline-block; 
  width: 200px; 
  text-align: center; 
}

.buttonLeft:hover {
  background-color: #252d35;   
  border: 2px solid #5171b6;   
  color: #5171b6;             
}
